{% extends 'base.html' %}

{% block title %}<title>Dayout - {{event.title}}</title>{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<div class="container">
  <div class="col-md-1"></div>
  <div class="image">
    <div class="img img-responsive full-width"><img src="{{event.image}}" class="rounded img-fluid shadow"
        alt="{{event.title}}"></div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
</div>
</div>
</div>
</header>
{% endblock %}

{% block content %}



<div class="container">
  <div class="row description">
    <div class="col-md-9">
      <h1 class="display-6">{{event.title}}</h1>
      <p class="lead">{{event.featured_headline}}</p>
      <p>{{event.description}}</p>
    </div>
    <div class="col-md-3 float-right">

      <div class="d-grid gap-2">
        <button class="btn btn-outline-success btn-lg" type="button" disabled>{{event.status}}</button>
        <button class="btn btn-outline-dark btn-lg" type="button" disabled>{{event.start_date.strftime("%A, %d. %B %Y, %I:%M%p")}}</button>
        <button class="btn btn-outline-dark btn-lg" type="button" disabled>${{event.price}}</button>
        <button class="btn btn-outline-dark btn-lg" type="button" disabled>Tickets Remaining: <br> {{event.ticket_capacity-event.tickets_booked}}</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">Book event</button>
        <button class="btn btn-dark btn-sm" type="button" disabled><svg xmlns="http://www.w3.org/2000/svg" width="14"
            height="14" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
          </svg> Edit event</button>

        <div class="row">
          <div class="col">
          </div>
        </div>

      </div>
      {% if current_user.is_authenticated %}
      <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ticket Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row header">

                

                <div class="col-10">
                  {{ wtf.form_field(form.tickets_booked, class='form-control', placeholder='Quantity') }}
                </div>

                <div class="col-2">
                  {{ wtf.form_field(form.event, class='', value = event.id) }}
                  {{ wtf.form_field(form.user, class='', value = current_user.name) }}
                </div>
              </div>
                <div class="row">
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class='flashes'>
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
              </div>
                
                

                <div class="col-sm-6">
                  {{ wtf.form_field(form.submit, class='btn btn-primary btn-large text-center', disabled=false) }}
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Second modal dialog -->
        <div class="modal fade" id="modal2" aria-hidden="true" aria-labelledby="..." tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Order completed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="/static/image/checked.png" class="mx-auto d-block" alt="Tick Box" width="100" height="100">
                <p class="lead">Thank you for your purchase. Your tickets will be sent to your nominated email. Have a
                  great Dayout!</p>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

    </div>
    <p class="lead text-left">Reviews</p>

    <div class="col-md-9">

      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0 d-flex flex-wrap align-items-center">
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Neil Woodwards</h5>
              <p class="card-text">Nullam tellus magna, lobortis a felis id, auctor aliquet justo. Aliquam erat
                volutpat. Vivamus auctor lectus sed sem tincidunt egestas. Cras non odio laoreet, egestas augue nec,
                rhoncus justo. Nunc nec aliquet tellus.</p>
              <p class="card-text"><small class="text-muted">Posted 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>


      <p class="lead text-left">Leave a comment</p>

      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="John">
              <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Smith">
              <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                style="height: 150px"></textarea>
              <label for="floatingInput">Leave your comment here</label>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </div>
        </div>
      </form>


    </div>
    <div class="col-md-3"></div>
  </div>

</div>

<!--------------------------------- Modal START ---------------------------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register an account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3">
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              I agree to get emails on new listed events on Dayone
            </label>

            <p><em>By continuing, you agree to our User Agreement and Privacy Policy.</em></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="history.html" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>
<!----------------- Modal END ------------------------->

{% endblock %}