{% extends 'base.html' %}

{% block title %}<title>Dayout - Grow your music event</title>{% endblock %}

{% block header %}


<div class="container">
  {% if current_user.is_authenticated and current_user.is_admin %} 

  <h1 class="display-4 text-white">Grow your music event</h1>
  <p class="lead text-white">Make it something that everyone is talking about</p>
  <a href="{{ url_for('event.create') }}" class="btn btn-primary btn-lg">Create event</a>

  {% else %} 

  <h1 class="display-4 text-white">Grow your music event</h1>
  <p class="lead text-white">Register now as an admin to start today</p>
  <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg">Register</a>

  {% endif %}
</div>

   </div>
 </div>
</div>
</header>
{% endblock %}


{% block content %} 
<div class="container">
<!------------------------------ CATEGORIES ------------------------------------------>
<div class="row categories">
  <div class="col-xs-12">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item pill1" role="presentation">
        <button class="nav-link active" id="pills-jazz-tab" data-bs-toggle="pill" data-bs-target="#pills-jazz" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Jazz</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-country-tab" data-bs-toggle="pill" data-bs-target="#pills-country" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Country</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-classical-tab" data-bs-toggle="pill" data-bs-target="#pills-classical" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Classical</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-hiphop-tab" data-bs-toggle="pill" data-bs-target="#pills-hiphop" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Hip-Hop</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-electronic-tab" data-bs-toggle="pill" data-bs-target="#pills-electronic" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Electronic</button>
      </li>
    </ul>
  </div>
</div>
<!------------------------------ CARDS ------------------------------------------>

<div class="tab-content" id="pills-tabContent">
  <!------------------------------ CATEGORY JAZZ ------------------------------------------>  
  <div class="tab-pane fade show active" id="pills-jazz" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4">
      <!------------------------------ CARD ITEM ------------------------------------------>
      {% set jazzExists = [False] %}
      {% set countryExists = [False] %}
      {% set classicalExists = [False] %}
      {% set hiphopExists = [False] %}
      {% set electronicExists = [False] %}
      {% for event in events %}
      {% if event.category == "Jazz" %}
      {% if jazzExists.pop() %} {% endif %}
      {% if jazzExists.append(True) %}{% endif %}
      <div class="col">
        <div class="card shadow-sm" >
          <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">
             {{event.featured_headline}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{event.start_date}}</li>
            <li class="list-group-item">{{event.location}}</li>
            <li class="list-group-item">{{event.timezone}}</li>
          </ul>
          <div class="card-body">
            <a href="event.html" class="btn btn-primary btn-sm">View details</a>
            <button type="button" class="btn btn-sm btn-outline-success" disabled>{{event.status}}</button>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% if not jazzExists[0] %}
        <p>There are no events in this category.</p>
      {% endif %}

      <!------------------------------ END CATEGORY ------------------------------------------>  
    </div>
  </div>
  <!------------------------------ CATEGORY COUNTRY ------------------------------------------>  
  <div class="tab-pane fade" id="pills-country" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4">
      <!------------------------------ CARD ITEM ------------------------------------------>
      {% for event in events %}
      {% if event.category == "Country" %}
      {% if countryExists.pop() %} {% endif %}
      {% if countryExists.append(True) %}{% endif %}
      <div class="col">
        <div class="card shadow-sm" >
          <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">
             {{event.featured_headline}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{event.start_date}}</li>
            <li class="list-group-item">{{event.location}}</li>
            <li class="list-group-item">{{event.timezone}}</li>
          </ul>
          <div class="card-body">
            <a href="event.html" class="btn btn-primary btn-sm">View details</a>
            <button type="button" class="btn btn-sm btn-outline-success" disabled>{{event.status}}</button>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <p>{{class}}</p>
      {% if not countryExists[0] %}
        <p>There are no events in this category.</p>
      {% endif %}
      <!------------------------------ END CATEGORY ------------------------------------------>  
    </div>
  </div>
  <!------------------------------ CATEGORY CLASSICAL ------------------------------------------>  
  <div class="tab-pane fade" id="pills-classical" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4">
      <!------------------------------ CARD ITEM ------------------------------------------>
      {% for event in events %}
      {% if event.category == "Classical" %}
      {% if classicalExists.pop() %} {% endif %}
      {% if classicalExists.append(True) %}{% endif %}
      <div class="col">
        <div class="card shadow-sm" >
          <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">
             {{event.featured_headline}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{event.start_date}}</li>
            <li class="list-group-item">{{event.location}}</li>
            <li class="list-group-item">{{event.timezone}}</li>
          </ul>
          <div class="card-body">
            <a href="event.html" class="btn btn-primary btn-sm">View details</a>
            <button type="button" class="btn btn-sm btn-outline-success" disabled>{{event.status}}</button>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% if not classicalExists[0] %}
        <p>There are no events in this category.</p>
      {% endif %}
      <!------------------------------ END CATEGORY ------------------------------------------>  
    </div>
  </div>
  <!------------------------------ CATEGORY CLASSICAL ------------------------------------------>  
  <div class="tab-pane fade" id="pills-classical" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4">
      <!------------------------------ CARD ITEM ------------------------------------------>
      {% for event in events %}
      {% if event.category == "Hip-Hop" %}
      {% if hiphopExists.pop() %} {% endif %}
      {% if hiphopExists.append(True) %}{% endif %}
      <div class="col">
        <div class="card shadow-sm" >
          <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">
             {{event.featured_headline}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{event.start_date}}</li>
            <li class="list-group-item">{{event.location}}</li>
            <li class="list-group-item">{{event.timezone}}</li>
          </ul>
          <div class="card-body">
            <a href="event.html" class="btn btn-primary btn-sm">View details</a>
            <button type="button" class="btn btn-sm btn-outline-success" disabled>{{event.status}}</button>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% if not hiphopExists[0] %}
        <p>There are no events in this category.</p>
      {% endif %}
      <!------------------------------ END CATEGORY ------------------------------------------>  
    </div>
  </div>
  <!------------------------------ CATEGORY HIP-HOP ------------------------------------------>  
  <div class="tab-pane fade" id="pills-hiphop" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4">
      <!------------------------------ CARD ITEM ------------------------------------------>
      {% for event in events %}
      {% if event.category == "Electronic" %}
      {% if electronicExists.pop() %} {% endif %}
      {% if electronicExists.append(True) %}{% endif %}
      <div class="col">
        <div class="card shadow-sm" >
          <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">
             {{event.featured_headline}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{event.start_date}}</li>
            <li class="list-group-item">{{event.location}}</li>
            <li class="list-group-item">{{event.timezone}}</li>
          </ul>
          <div class="card-body">
            <a href="event.html" class="btn btn-primary btn-sm">View details</a>
            <button type="button" class="btn btn-sm btn-outline-success" disabled>{{event.status}}</button>
          </div>
        </div>
      </div>
      
      {% endif %}
      
      {% endfor %}

      {% if not electronicExists[0] %}
        <p>There are no events in this category.</p>
      {% endif %}
      
      <!------------------------------ END CATEGORY ------------------------------------------>  
    </div>
  </div>
</div>
</div>


<!------------------------------ REGISTER (MODAL) ------------------------------------------>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register an account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">
            Email
          </label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">
            Username
          </label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">
            Confirm
          </label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            I agree to get emails on new listed events on Dayone
          </label>
          <p><em>
            By continuing, you agree to our User Agreement and Privacy Policy.
          </em></p>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="history.html" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
<!------------------------------ END REGISTER (MODAL) ------------------------------------------>

</body>
</html>