{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}<title>Dayout - {{heading}}</title>{% endblock %}

{% block header %}
<div class="container">
  <h1 class="display-4 text-white">{{heading}}</h1>
  <p class="lead text-white">Start building your event</p>
</div>
   </div>
 </div>
</div>
</header>
{% endblock %}


 
 {% import "bootstrap/wtf.html" as wtf %}
 {% block body %}


{% block content %} 
<div class="container-fluid">
{% with messages = get_flashed_messages() %}
{% if messages %} 
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
        {{message}}
    </div>
    {% endfor %} 
{% endif %}
{% endwith %}

</div>



<!-- Form rendering is simple and easy if using bootstrap -->
<div class="container">
    <div class="row">
    <div class="col-sm-4">
        {% if heading|lower =='register' %}
        <!-- {{wtf.quick_form(form)}} -->
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
        {{ wtf.form_field(form.user_name, class='form-control', placeholder='Choose a username') }}
        {{ wtf.form_field(form.email_id, class='form-control', placeholder='john@smith.com') }}
        {{ wtf.form_field(form.password, class='form-control', placeholder='Choose a password') }}
        {{ wtf.form_field(form.confirm, class='form-control', placeholder='Confirm password') }}
        <button type="submit" class="btn btn-primary">Register</button>
        </form>
        {% endif %}
        {% if heading|lower =='login' %}
        <!-- {{wtf.quick_form(form)}} -->
        <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.user_name, class='form-control', placeholder='Enter your username') }}
        {{ wtf.form_field(form.password, class='form-control', placeholder='Enter your password') }}
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% endif %}
        <!-- When you have login form, then do show the user a link to register -->
        {% if heading|lower =='login' %}

        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
        {% endif %}
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>

</div>
</div>



{% endblock %}
{% endblock %}