{% extends 'base.html' %}

{% block title %}<title>HOME PAGE</title>{% endblock %}

{% block header %}
<div class="container">
  <h1 class="display-4 text-white">Create a user</h1>
  <p class="lead text-white">Register now and start building your event</p>
</div>
   </div>
 </div>
</div>
</header>
{% endblock %}


 
 {% import "bootstrap/wtf.html" as wtf %}
 {% block body %}

<div class="page-header">
    <h4>{{heading}}</h4>
</div>


{% block content %} 
<div class="container-fluid">
{% with messages = get_flashed_messages() %}
{% if messages %} 
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
        {{message}}
    </div>
    {% endfor %} 
{% endif %}
{% endwith %}

</div>



<!-- Form rendering is simple and easy if using bootstrap -->
<div class="col-md-6">
    {{wtf.quick_form(form)}}
</div>

<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endif %}

{% endblock %}
{% endblock %}