{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}<title>Dayout - {{heading}}</title>{% endblock %}

{% block header %}
<div class="container">
  <h1 class="display-4 text-white">{{heading}}</h1>
  <p class="lead text-white">Start building your event</p>
</div>
   </div>
 </div>
</div>
</header>
{% endblock %}


 
 {% import "bootstrap/wtf.html" as wtf %}
 {% block body %}


{% block content %} 
<div class="container">
{% with messages = get_flashed_messages() %}
{% if messages %} 
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div class="flash-message">{{message}}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {% endfor %} 
{% endif %}
{% endwith %}

</div>



<!-- Form rendering is simple and easy if using bootstrap -->
<div class="container">
    <div class="row">
    <div class="col-sm-4">
        {% if heading|lower =='register' %}
        <!-- {{wtf.quick_form(form)}} -->
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
        {{ wtf.form_field(form.user_name, class='form-control', placeholder='Choose a username') }}
        {{ wtf.form_field(form.email_id, class='form-control', placeholder='john@smith.com') }}
        {{ wtf.form_field(form.phone_number, class='form-control', placeholder='0411111111') }}
        {{ wtf.form_field(form.address, class='form-control', placeholder='5 Apple Road, Blueberry Hills') }}
        {{ wtf.form_field(form.is_admin, class='form-control') }}

        {{ wtf.form_field(form.password, class='form-control', placeholder='Choose a password') }}
        {{ wtf.form_field(form.confirm, class='form-control', placeholder='Confirm password') }}
        
        <button type="submit" class="btn btn-primary">Register</button>
        </form>
        {% endif %}
        {% if heading|lower =='login' %}
        <!-- {{wtf.quick_form(form)}} -->
        <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.user_name, class='form-control', placeholder='Enter your username') }}
        {{ wtf.form_field(form.password, class='form-control', placeholder='Enter your password') }}
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% endif %}
        <!-- When you have login form, then do show the user a link to register -->
        
    </div>
    <div class="col-sm-4">

      {% if heading|lower =='login' %}
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">New around here?</div>
        <div class="card-body">
          <p class="card-text">Register as an admin and start hosting events.</p>
          <a class="btn btn-primary" href="{{ url_for('auth.register') }}" role="button">Register here</a>
        </div>
        

      </div>
      {% endif %}
    </div>
    <div class="col-sm-4">
    </div>

</div>
</div>



{% endblock %}
{% endblock %}